.color_active {
    border: 3px solid black !important;
}
.active_selected .alert {
    border: 3px solid red !important;

}

.badge_tag {
    text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;

    -webkit-text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;

    -moz-text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;

    *filter: Glow(color=#000, strength=1);
}
.tag_selected {
    border: 3px solid red !important;
    color: white !important;
}
s {
    opacity: .4;
}
s > * {
    opacity: .4;
}

.datepickers-container {
    z-index: 99999;
    position: fixed;
}
#x0popup {
    /*max-height: unset !important;*/
}
.mb-20 {
    margin-bottom: 20px;
}

.disable-ime {
    ime-mode:disabled;
}
.content-fit {
    width: inherit;
    height: inherit;
}
.color-dot {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 0.5px solid #6d6d6d;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
     width: 20px;
    height: 20px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}


.w-e-toolbar {
    justify-content: space-between;
}
.emoji_ thumb {
    display: block;
}

.msg_selected {
    border: 3px solid var(--primary-color);
}

#x0p-input {
    border: 1px solid black;
}

#x0popup .content {
    margin: 0;
}

.msg .thumb {
   width: 200px !important;
}
.thumb {
    width: 50px;
}


.w-e-toolbar {
    padding: 0;
     flex-wrap: unset !important;
    background-color: unset !important;
}

.w-e-text-container p {
    margin: 0 !important;
}

.w-e-text-container span, img {
    background-color: unset !important;
    color: unset !important;
    font-size: unset !important;
}
.w-e-text-container {
     padding-right: 10px !important;
     padding-top: 7px !important;
    text-align: left;
    background-color: unset !important;
}

.placeholder {
    color: rgba(0, 0, 0, .4) !important;
}




.text-dark-1 {
    color: black !important;
}

.h-fit {
    height: fit-content;
}


span[data-action="stricker_toTab"] {
    padding: 10px;
   
}

span[data-action="stricker_toTab"] img {
     width: 20px;
    height: 20px;
}


._emoji {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

 #stricker_types span {
    margin-left: 10px;
    margin-right: 10px;
}


.stricker_active {
   border-bottom: 4px solid var(--primary-color) !important;
}
.emoji_tab_active {
   border-bottom: 4px solid var(--primary-color) !important;
}

.emoji_active {
   border-bottom: 4px solid var(--primary-color) !important;
}
#modal-stricker .col-4 img,
#bottom_stricker img {
    width: inherit;
    padding: 10px;
    user-select: none;
    -webkit-user-drag: none;
}

.selected {
    border: 1px solid var(--dm-button-primary-border-color-hover);
}


.w-125 {
    width: 125px !important;
}
.emoji-pin {
    position: absolute;
    right: -12px;
    bottom: -16px;
    font-size: 25px;
}
.alert-white {
        background-color: var(--white-bg-color) !important;
        color: var(--lm-base-text-color) !important;
}


.ns {
    user-select: none;
}

._content {
    overflow-x: hidden;
}

.dark-mode {
    color: var(--dm-base-text-color);
}

.theme {
    background-color: var(--dm-base-text-color);
}

.dark-mode .theme {
    background-color: var(--dm-base-body-bg-color) !important;

}


.dark-mode .placeholder {
    color: rgba(255, 255, 255, .4) !important;
}


@font-face {
    font-family: janFont;
    src: url(../fonts/KosugiMaru-Regular.ttf);
}
:root {
    /*--dm-navbar-bg-color: unset;
    /*--lm-base-body-bg-image: linear-gradient(rgb(35 35 35 / 50%), rgb(111 111 111)),url(../res/bg.jpg),url(../res/bg.jpg);*/
    --lm-base-body-bg-color: transparent;
    --lm-navbar-bg-color: unset;
    --lm-table-striped-bg-color: unset;
    --lm-table-border-color: unset;
    --lm-button-bg-color: unset;
    --lm-sidebar-bg-color: unset;
    --lm-button-primary-border-color: transparent;
    --lm-button-primary-bg-color: #4ca9ff47;
    /*--dm-base-body-bg-image: url(../res/bg.jpg);*/
}

* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
     user-select: none;
    -webkit-user-drag: none;
    color: var(--lm-base-text-color);
    overflow-x: hidden;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    font-family: janFont, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#sidebar_icons_float {
    position: absolute;
    right: 5%;
    display: grid;
    bottom: 0;
}

#sidebar_icons_float a {
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: rgba(#101F1C, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, .5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    transition: background-color .3s;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144, 147, 153, .3);
}




.mainContent {
    /*margin-bottom: 100px;*/
}
.w-75 {
    width: 75px;
}
.ftb {
        width: min-content;
    position: fixed;
    right: 30px;
    bottom: 60px;
}
.ftb a {
    margin-bottom: 10px;
}
.badge {
    cursor: pointer;
}

.hand {
    cursor: pointer;
}


.flex-center {
    display: flex;
    align-items: center;
    text-align: center;
}

.hide {
    display: none;
}

.show {}


/* chat */
.chat_list {
    position: relative;
    display: inline-flex;
    width: 100%;
}
.w-fit {
    width: fit-content;
}


._icon {
    border-radius: 50%;
    background-color: #000;
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
}

.icon_small {
    color: white;
    border-radius: 50%;
    background-color: #000;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    line-height: 40px;
}

.rt {
    right: 15px;
    top: 10px;
    position: absolute;
}

.rb {
    right: 15px;
    bottom: 10px;
    position: absolute;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.mw-80 {
    max-width: 80%;
}

/*.msg {
    max-width: 80%;
    position: relative;
    display: inline-flex;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}*/

.msg .alert {
    border-radius: 5px 10px;
    max-width: 80%;
}
/*
.msg .time {
    position: absolute;
    bottom: 0;
    left: -40px;
}

*/